// Colors
$base-color: #4169e1;
$dark-color--1: #121212;
$dark-color--1-transparent: #121212b3;
$dark-color--2: #282727;
$dark-color--3: #393939;
$dark-color--3-transparent: #393939be;
$dark-color--4: #707070;
$dark-color--4-transparent: #707070ee;
$light-color--1: #ffffff;
$light-color--1-transparent: #ffffffcc;

// Fonts
$font: "Lato", sans-serif;
